<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.socket.io/socket.io-1.4.0.js"></script>
    <script type="text/javascript" src="static/script.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="container game_board">
      <div class="row">
        <div class="col">
          <table class="game table table-bordered">
            <tr>
              <td class="tile" id="tile_00"></td>
              <td class="tile" id="tile_01"></td>
              <td class="tile" id="tile_02"></td>
            </tr>
            <tr>
              <td class="tile" id="tile_10"></td>
              <td class="tile" id="tile_11"></td>
              <td class="tile" id="tile_12"></td>
            </tr>
            <tr>
              <td class="tile" id="tile_20"></td>
              <td class="tile" id="tile_21"></td>
              <td class="tile" id="tile_22"></td>
            </tr>
          </table>
        </div>
      </div>
      <p class="text-center" id="status"></p>
    </div>
  </body>
</html>
